{{ if and ( .Site.Params.giscus.enable ) (and (not .Params.disable_comments) (or (eq .Kind "404") (and (not .IsHome) .Content))) }}
<section class="comments">
<script src="https://giscus.app/client.js"
        data-repo="{{ .Site.Params.giscus.repo }}"
        data-repo-id="MDEwOlJlcG9zaXRvcnkzNTQ1NTU4NjY="
        data-category="Announcements"
        data-category-id="DIC_kwDOFSIX2s4CTeEx"
        data-mapping="{{ .Site.Params.giscus.mappingType }}"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="{{ .Site.Params.giscus.theme }}"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
</script>
</section>
{{ end }}
